* {margin:0;padding:0;}


.navbar {
    background-color:#011013;
    height: 100px;

    .link-1 {
        font-weight: bolder;
    }

    img{
        margin-top:20px;
    }

    a {
        color: white;
        font-size: 12px;
        letter-spacing: 2px;
        margin-right: 5px;
    }

    .toggler-custom {
        background-image: url("https://img.icons8.com/material-outlined/24/000000/menu--v3.png");
    }
}


main {
    display: flex;
    flex-direction: column;
    background-color: #011013;
    width: 100%;
    height: 100vh;

    .imagen1 {
        background-image: url(imagenes/piezas.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 70vh;
    }



    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 30vh;
        h1{
            color: white;
            text-decoration-line: overline;
            text-transform: uppercase;
            font-size: 60px;
            font-family: 'Hind Siliguri', sans-serif;
            letter-spacing: 3px;
            margin-top: 25px;
        }
        p{ 
        color: white;
        font-family: 'Hind Siliguri', sans-serif;
        font-size: 18px;
        margin-top: 15px;
        text-align: center;
    }
}
}



.seccionInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(imagenes/textura3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .cajas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;    
        justify-content: space-between;    
        height: 80vh;
        width: 1000px;

        .menu {
            background-image: url(imagenes/menu.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
            margin-bottom: 20px;

            .menu__title {
                color: white;
                font-family: 'Hind Siliguri', sans-serif;
                font-weight: bold;
                font-family: 50px;
                margin-top: 20px;
                text-align: center;
                text-transform: uppercase;
            }
        }


        .catering {
            background-image: url(imagenes/cateringSushi.jpg);
            filter: grayscale(30%);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;

            .catering__title {
                color: white;
                font-family: 'Hind Siliguri', sans-serif;                
                font-weight: bold;
                font-family: 50px;
                margin-top: 20px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .beneficios {
            background-image: url(imagenes/sushi.jpg);
            filter: grayscale(30%);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;

            .beneficios__title {
                color: white;
                font-family: 'Hind Siliguri', sans-serif;                font-weight: bold;
                font-family: 50px;
                margin-top: 20px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .delivery {
            background-image: url(imagenes/sushiBox.jpg);
            filter: grayscale(30%);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;

            .delivery__title {
                color: white;
                font-family: 'Hind Siliguri', sans-serif;                font-weight: bolder;
                font-family: 50px;
                margin-top: 20px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .salon {
            background-image: url(imagenes/sushiSalon.jpg);
            filter: grayscale(30%);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;

            .salon__title {
                color: white;
                font-family: 'Hind Siliguri', sans-serif;                font-weight: bolder;
                font-family: 50px;
                margin-top: 20px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .contacto {
            background-image: url(imagenes/sushiContact.jpg);
            filter: grayscale(30%);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;

            .contacto__title {
                color: white;
                font-family: 'Hind Siliguri', sans-serif;                font-weight: bolder;
                font-family: 50px;
                margin-top: 20px;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}


    .seccionHistoria{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #011013;
        height: 70vh;
        width: 100%;
    .historia {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        h2{
            color: white;
            font-family:'Comforter Brush', cursive ;
            font-size: 60px;
            font-weight: bold;
            margin-bottom: 45px;
            width: 180px;
        }
        p{
            color: white;
            width: 520px;
            font-size: 18px;
            text-align: center;
        }
    }
    .imagenNosotros{
        width: 50%;
        height: 100%;
        background-image: url(imagenes/sushiMan.jpg);
        filter: grayscale(30%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


.preFooter{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #011013;
    .textoPreFooter{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        letter-spacing: 6px;
    }
    .imgPreFooter{
        width: 50%;
        height: 100%;
        background-image: url(imagenes/preFooter.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

footer{
    background-color: rgb(54, 54, 54);
    height: 30vh;
}


// 2) SECCION MENU // 

.primeraSeccion{
display: flex;
flex-direction: column;
.seccionMenu{
    height: 100vh;
    width: 100%;
    background-color: #011013;
    display: flex;
    .seccion__Texto{
        color: white;
        text-align: left;
        height: 100vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        margin-top: 50px;
        h2{
            text-transform: uppercase;
        }
        h5{
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        .linea{
            border-top: 3px solid white;
            height: 2px;
            width: 400px;
            margin-top: 15px;
        }
        .lista__Entrada{
            display: flex;
            flex-direction: column;

            .modelo__TipoMenu{
                h6{
                    color: white;
                    font-weight: bolder;
                }
                p{
                    color: white;
                    width: 400px;
                }
                margin-top: 15px;
                margin-bottom: 5px;
            }
        }
    }
    .seccion__Img{
        background-image: url(imagenes/gyosa.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 50%;
    }
}

.seccionMenu2{
    height: 100vh;
    width: 100%;
    background-color: #011013;
    display: flex;
    .seccion__Texto2{
        color: white;
        text-align: left;
        height: 100vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        margin-top: 30px;
        h2{
            text-transform: uppercase;
        }
        h5{
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        .linea{
            border-top: 3px solid white;
            height: 2px;
            width: 400px;
            margin-top: 15px;
        }
        .lista__Entrada{
            display: flex;
            flex-direction: column;

            .modelo__TipoMenu{
                h6{
                    color: white;
                    font-weight: bolder;
                }
                p{
                    color: white;
                    width: 400px;
                }
                margin-top: 15px;
                margin-bottom: 5px;
            }
        }
    }
    .seccion__Img2{
        background-image: url(imagenes/tartar.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 50%;
    }
}

.seccionMenu3{
    height: 100vh;
    width: 100%;
    background-color: #011013;
    display: flex;
    .seccion__Texto3{
        color: white;
        text-align: left;
        height: 100vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        margin-top: 20px;
        h2{
            text-transform: uppercase;
        }
        h5{
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        .linea{
            border-top: 3px solid white;
            height: 2px;
            width: 400px;
            margin-top: 15px;
        }
        .lista__Entrada{
            display: flex;
            flex-direction: column;

            .modelo__TipoMenu{
                h6{
                    color: white;
                    font-weight: bolder;
                }
                p{
                    color: white;
                    width: 400px;
                }
                margin-top: 15px;
                margin-bottom: 5px;
            }
        }
    }
    .seccion__Img3{
        background-image: url(imagenes/ensalada.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 50%;
    }
}
}

.seccion__SushiTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 30vh;
    width: 100%;
    background-color: #011013;
    h5{
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .linea{
        border-top: 3px solid white;
        height: 2px;
        width: 500px;
        margin-top: 15px;
    }
}

.seccion__SushiMenu{
    height: 70vh;
    width: 100%;
    background-color: #011013;
    display: flex;

    .listaSushi{
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-items: center;
        color: white;
        font-size: 25px;
        font-weight: bold;
        width: 20%;
        margin-top: 12px;
        ul{
            li{
                margin-bottom: 7px;
            }
        }
    }

    .lista__Rolls{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: initial;
        width: 80%;
        color: white;
        ul{
        p{
            margin-top: 10px;
            margin-bottom: -2px;
        }
        li{
            margin-right: 15px;
            margin-bottom: 15px;
            list-style: none;
        }
    }
}

.lista__Especiales{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: initial;
    width: 80%;
    color: white;
    ul{
    p{
        margin-top: 10px;
        margin-bottom: -2px;
    }
    li{
        margin-right: 15px;
        margin-bottom: 15px;
        list-style: none;
    }
}
}

.lista__Niguiris{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: initial;
    width: 80%;
    color: white;
    ul{
    p{
        margin-top: 10px;
        margin-bottom: -2px;
    }
    li{
        margin-right: 15px;
        margin-bottom: 15px;
        list-style: none;
    }
}
}

.lista__Sashimis{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: initial;
    width: 80%;
    color: white;
    ul{
    p{
        margin-top: 10px;
        margin-bottom: -2px;
    }
    li{
        margin-right: 15px;
        margin-bottom: 15px;
        list-style: none;
    }
}
}

.lista__Geishas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: initial;
    width: 80%;
    color: white;
    ul{
    p{
        margin-top: 10px;
        margin-bottom: -2px;
    }
    li{
        margin-right: 15px;
        margin-bottom: 15px;
        list-style: none;
    }
}
}

.lista__Temakis{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: initial;
    width: 80%;
    color: white;
    ul{
    p{
        margin-top: 10px;
        margin-bottom: -2px;
    }
    li{
        margin-right: 15px;
        margin-bottom: 15px;
        list-style: none;
    }
}
}

.lista__Veggie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: initial;
    width: 80%;
    color: white;
    ul{
    p{
        margin-top: 10px;
        margin-bottom: -2px;
    }
    li{
        margin-right: 15px;
        margin-bottom: 15px;
        list-style: none;
    }
}
}

.lista__VeganPlant{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: initial;
    width: 80%;
    color: white;
    ul{
    p{
        margin-top: 10px;
        margin-bottom: -2px;
    }
    li{
        margin-right: 15px;
        margin-bottom: 15px;
        list-style: none;
    }
}
}

.oculto{
    display: none;
}

.display{
    display: none;
}
.display2{
    display: flex;
}
}

.seccionMenu4{
    height: 100vh;
    width: 100%;
    background-color: #011013;
    display: flex;
    .seccion__Texto4{
        color: white;
        text-align: left;
        height: 100vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        margin-top: 20px;
        h2{
            text-transform: uppercase;
        }
        h5{
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        .linea{
            border-top: 3px solid white;
            height: 2px;
            width: 400px;
            margin-top: 15px;
        }
        .lista__Entrada2{
            display: flex;
            flex-direction: column;

            .modelo__TipoMenu2{
                h6{
                    color: white;
                    font-weight: bolder;
                }
                p{
                    color: white;
                    width: 400px;
                }
                margin-top: 15px;
                margin-bottom: 5px;
            }
        }
    }
    .seccion__Img4{
        background-image: url(imagenes/cateringSushi.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 50%;
    }
}

.seccionMenu5{
    height: 100vh;
    width: 100%;
    background-color: #011013;
    display: flex;
    .seccion__Texto5{
        color: white;
        text-align: left;
        height: 100vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        margin-top: 20px;
        h2{
            text-transform: uppercase;
        }
        h5{
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        .linea{
            border-top: 3px solid white;
            height: 2px;
            width: 400px;
            margin-top: 15px;
        }
        .lista__Entrada5{
            display: flex;
            flex-direction: column;

            .modelo__TipoMenu5{
                h6{
                    color: white;
                    font-weight: bolder;
                }
                p{
                    color: white;
                    width: 400px;
                }
                margin-top: 15px;
                margin-bottom: 5px;
            }
        }
    }
    .seccion__Img5{
        background-image: url(imagenes/salmon.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 50%;
    }
}

// CIERRE - SECCION MENU // 

// SECCION - CATERING // 

.espaciado{
    height: 100vh;
    width: 100%;
    background-image: url(imagenes/mainCatering.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    }

    .pruebaTexto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        margin-top: -400px;
        h5{
            font-size: 20px;
            letter-spacing: 10px;
            text-transform: uppercase;
            color: white;
        }
        h2{
            font-size: 60px;
            color: white;
        }
    }

.home{
    display: flex;
    flex-direction: row;

.home__Catering{
    height: 100vh;
    width: 50%;
    background-color: #011013;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h4{
        color: white;
        // margin-bottom: 15px;
    }

    .form{
        width: 450px;
        label{
            margin-top: 10px;
        }
        input{
            margin-top: 25px;
            width: 450px;
            border-radius: 0%;
            border-color: transparent white white white ;
            border-width: solid 5px;
            background-color: #011013;
            color: white;
            text-align: center;
            outline: none;
        }
        .textarea{
            margin-top: 30px;
            margin-bottom: 15px;
            width: 450px;
            border-radius: 0%;
            border-color: transparent white white white ;
            border-width: solid 5px;
            background-color: #011013;
            color: white;
            outline: none;
        }
        button{
            height: 40px;
            width: 150px;
            background-color: #011013;
            color: white;
            text-align: center;
            margin-left: 150px;
        }
    }
}

.home__Img{
    height: 100vh;
    width: 50%;
    background-image: url(imagenes/trago.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
}

.propuesta{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: #011013;
    .propuesta__Texto{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        p{
            width: 500px;
            text-align: center;
            margin-bottom: 80px;
        }
        img{
            margin-top: -30px;
        }
    }
    .propuesta__Img{
        width: 50%;
        background-image: url(imagenes/japon.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}






